modules = ["php-8.2", "web", "nodejs-20"]
run = "php home.php"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "php home.php"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42639809
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:8080"

[[ports]]
localPort = 8080
externalPort = 80
