* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(135deg, #228B22, #32CD32, #90EE90, #98FB98);
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.navbar {
  width: 1200px;
  height: 60px;
  margin: auto;
  padding-top: 10px;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: #fff;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 18px;
  font-size: 14px;
  cursor: pointer;
  color: #0f0b0b;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: var(#0f0b0b);
  cursor: grab;
}


.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #0f0b0b;
  position: relative;
  padding-top: 5vh;
}
.content .par {
  padding-left: 20px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  line-height: 25px;
  margin-bottom: 10px;
}
.content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  padding-left: 20px;
  margin-top: 3vh;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #fff;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #fff;
  border: none;
  margin-bottom: 8px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.content .cn a {
  text-decoration: none;
  color: #0f0b0b;
  transition: 0.3s ease;
}
.content .cn:hover {
  background-color: gray;
}
.content .cn a:hover {
  color: #fff;
}
.content span {
  color: #f7f6f6;
  font-size: 60px;
}
.content p {
  color: #f7f6f6;
}
